<div class="hero-unit">
  <h1>SimplePVR</h1>
  <p>A really, really simple PVR (Personal Video Recorder) system which only supports the HDHomeRun network tuners. It's written in Ruby and is highly hackable. If you don't want to hack it, but just want a solid PVR system, no worries: It's dead-simple to use.</p>
  <p><a href="https://github.com/olefriis/simplepvr" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
  <h2>Thanks!</h2>
  <p>SimplePVR is built on top of a number of really great, free products. A huge "thank you!" goes to all the people developing and
  supporting them. Amongst others, we're talking
  <ul>
  	<li><a href="http://jquery.com/">JQuery</a> - takes the pain out of web development</li>
  	<li><a href="http://angularjs.org/">AngularJS</a> - makes web development actually fun!</li>
  	<li><a href="http://twitter.github.io/bootstrap/">Twitter Bootstrap</a> - oooh, the beauty!</li>
  	<li><a href="http://glyphicons.com/">Glyphicons</a> - crisp, delightful icons</li>
  	<li><a href="http://www.ruby-lang.org/en/">Ruby</a> - my favorite programming language and community</li>
  </ul>
  </p>
