<div class="jumbotron">
  <h1>SimplePVR</h1>
  <p>A really, really simple PVR (Personal Video Recorder) system which only supports the HDHomeRun network tuners. It's written in Ruby and is highly hackable. If you don't want to hack it, but just want a solid PVR system, no worries: It's dead-simple to use.</p>
  <p><a href="https://github.com/olefriis/simplepvr-backend-ruby/wiki" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<h2>Thanks!</h2>
<p>SimplePVR is built on top of a number of really great, free products. A huge "thank you!" goes to all the people developing and
supporting them!
<ul>
  <li><a href="http://jquery.com/">JQuery</a> (<a href="https://jquery.org/license/">MIT license</a>)</li>
  <li><a href="http://angularjs.org/">AngularJS</a> (<a href="https://github.com/angular/angular.js/blob/master/LICENSE">MIT license</a>)</li>
  <li><a href="http://getbootstrap.com/">Twitter Bootstrap</a> (<a href="https://github.com/twbs/bootstrap/blob/master/LICENSE">MIT license</a>)</li>
  <li><a href="http://glyphicons.com/">Glyphicons</a> (<a href="https://github.com/twbs/bootstrap/blob/master/LICENSE">MIT license</a>, as <a href="http://glyphicons.com/license/">it's used with Twitter Bootstrap</a>)</li>
  <li>Slightly modified version of <a href="https://github.com/witoldsz/angular-http-auth">angular-http-auth</a> (<a href="https://github.com/witoldsz/angular-http-auth/blob/master/LICENSE">MIT license</a>)</li>
  <li><a href="http://wemadeyoulook.at/en/blog/implementing-basic-http-authentication-http-requests-angular/">JavaScript Base64 encoder</a> (no license)</li>
</ul>
<p>SimplePVR is itself licensed under the <a href="http://www.wtfpl.net/">Do What the Fuck You Want to Public License</a>.
</p>
