<div class="row">
	<div class="col-md-6" id="schedules">
		<h1>Existing schedules</h1>
		<div class="row" ng-repeat="schedule in schedules">
			<div class="col-md-12">
				<p><span ng-show="schedule.is_exception">Exception:</span> {{schedule.title}}
					<span ng-show="schedule.channel">on {{schedule.channel.name}}</span>
					<span ng-show="schedule.start_time">{{schedule.start_time | date:'fullDate'}} at {{schedule.start_time | date:'HH:mm'}}</span>
					{{schedule | filteredWeekdays}} {{schedule | timeOfDay}} {{schedule | startEarlyEndLate}}
				</p>
				<p>
					<a ng-href="/schedules/{{schedule.id}}" class="btn btn-default" ng-hide="schedule.is_exception">Edit</a>
					<button type="button" ng-click="deleteSchedule(schedule)" class="btn btn-warning">Delete</button>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h1>Create new schedule</h1>
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="control-label col-lg-2" for="newScheduleTitle">Name</label>
						<div class="col-lg-10">
							<input id="newScheduleTitle" type="text" class="form-control" ng-model="newSchedule.title"></p>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2" for="newScheduleChannel">Channel</label>
						<div class="col-lg-10">
							<select id="newScheduleChannel" class="form-control" ng-model="newSchedule.channelId">
						      <option value="0">-- Any channel --</option>
						      <option ng-repeat="channel in channels" value="{{channel.id}}">{{channel.name}}</option>
						    </select></p>
						</div>
					</div>
					<div class="form-group">
					    <div class="col-lg-offset-2 col-lg-10">
							<button ng-click="createSchedule()" class="btn btn-default" ng-disabled="!newSchedule.title">Create schedule</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-6" id="upcoming_recordings">
		<h1>Upcoming recordings</h1>
		<div class="row" ng-repeat="recording in upcomingRecordings">
	    	<div class="col-md-12">
		    	<h2>{{recording.show_name}}<span ng-show="recording.is_conflicting" style="color: red"> (Conflicting)</span> <a href ng-click="excludeRecording(recording)" title="Do not record this specific show"><span class="glyphicon glyphicon-remove" style="color:black"></span></a></h2>
				<p>{{recording.start_time | date:'fullDate'}} at {{recording.start_time | date:'HH:mm'}} on {{recording.channel.name}}</p>
				<p ng-show="recording.subtitle">{{recording.subtitle}}</p>
				<p><a ng-href="/programmes/{{recording.programme_id}}">View details</a></p>
			</div>
		</div>
	</div>
</div>
